.light {
  background-color: #ffffff;
  color: #000000;
}
.dark {
  background-color: #000000;
  color: #ffffff;
}

/* Login Page */
.main-login-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
}
.nav-title {
  width: 100%;
  padding: 12px 0px;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #33383f;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-div {
  width: 400px;
  padding: 24px;
  border: 1px solid #33383f;
  background: #141517;
  border-radius: 14px;
}
.login-title {
  font-size: 22px;
  font-weight: 400;
}
.login-div button {
  font-weight: 400;
  border-radius: 4px;
}
.google-btn {
  width: 100%;
  padding: 5px 18px;
  border: 1px solid #33383f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-account-btn {
  width: 60%;
  padding: 12px;
  border: none;
}
.below-title {
  font-weight: 300;
  color: gray;
}
.below-title a {
  color: white;
}
.footer-content {
  width: 100%;
  padding: 8px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgb(31, 31, 31);
  color: gray;
}

/* Loading-animation */
.loading-div {
  height: calc(100% - 10%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-animation {
  height: 50px;
  width: 50px;
  background-color: white;
  display: flex;
}

/* OneBox */
.onebox-container,
.home-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
}
.side-nav {
  width: 5%;
  height: 100%;
  padding: 12px 0px;
  background-color: #101113;
  border-right: 1px solid #33383f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.side-nav-items li {
  font-size: 24px;
  cursor: pointer;
}
.user-profile-initials {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: greenyellow;
  color: black;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.horizontal-div {
  width: calc(100% - 5%);
  height: 100%;
}
.upper-nav {
  height: 10%;
  width: 100%;
  border-bottom: 1px solid #33383f;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.upper-nav h2 {
  padding: 0px 24px;
}
.vertical-div {
  display: flex;
  height: calc(100% - 10%);
  width: 100%;
}
.list-items {
  width: 25%;
  height: 100%;
  padding: 18px;
  border-right: 1px solid #33383f;
}
.list-items h1 {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 600;
}
.reload-btn{
  height: 40px;
  width: 40px;
  background-color: #23272c;
  border-radius: 8px;
}
.search-field {
  width: 100%;
  height: 35px;
  border: 1px solid #33383f;
  outline: none;
  padding: 0 5rem;
  padding-left: 3rem;
  border-radius: 8px;
  outline: none;
  background-color: #23272c;
  color: white;
  transition: 0.5s ease;
}
.list-item-detail {
  width: 50%;
  height: 100%;
  border-right: 1px solid #33383f;
  overflow-y: scroll;
  position: relative;
}
::-webkit-scrollbar {
  width: 0px;
}
.upper-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}
.first-div h1 {
  font-size: 18px;
}
.first-div h4 {
  color: grey;
}
.second-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.yellow-dot {
  height: 10px;
  width: 10px;
  margin-right: 8px;
  border-radius: 100%;
  background-color: yellow;
}
.box-span {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  padding: 8px 14px;
  border-radius: 8px;
}
.down-div {
  padding: 24px;
}
.today-title {
  border: 1px solid #171819;
  background-color: #171819;
  border-radius: 8px;
  width: fit-content;
  padding: 2px 12px;
}
.expand {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #171819;
  width: fit-content;
  padding: 2px 12px;
  border-radius: 8px;
  background-color: #171819;
}

/* Third Section */
.third-section {
  width: 30%;
  padding: 24px;
}
.third-section-titles {
  width: 100%;
  padding: 2px 8px;
  font-size: 22px;
  font-weight: 500;
  background-color: #23272c;
  border-radius: 8px;
}
.lead-detail-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activity-items li {
  display: flex;
  align-items: center;
  justify-content: start;
}
.grey-color{
  color: grey;
}
.mail-circle {
  height: 50px;
  width: 50px;
  margin-right: 50px;
  border-radius: 100%;
  background-color: #23272c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.open-mail {
  display: flex;
  align-items: center;
}
